/*
 *  UCF COP3330 Fall 2021 Assignment 1 Solution
 *  Copyright 2021 Uday Gudipudi
 */

import java.util.*;
class Main {
  public static void main(String[] args) {
		  
      Scanner scan = new Scanner(System.in);  
      
      System.out.print("What is the first number? ");  
      int first= scan.nextInt(); 
      System.out.print("What is the second number? ");  
      int second= scan.nextInt();   

      int sum = first + second;
      int difference = first - second;
      int product = first * second;
      int quotient = first / second;

      System.out.print(""+first+" + "+second+" = "+sum+"");
      System.out.printf("%n");
      System.out.print(""+first+" - "+second+" = "+difference+"");
      System.out.printf("%n");
      System.out.print(""+first+" * "+second+" = "+product+"");
      System.out.printf("%n");
      System.out.print(""+first+" / "+second+" = "+quotient+"");
  }
}
